<h1> Delta images</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
    <caption>Delta images</caption>
    <thead>
        <tr>
            <th>Image ID</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let image of images">
            <td>{{image.id}}</td>
            <td *ngIf='image.timestamp != "TIMESTAMP"; else elseBlock'>{{image.timestamp*1000 | date}}</td>
            <ng-template #elseBlock>Unknown date</ng-template>
            <td><button (click)="seeImage(image.id)" class="btn btn-success">See image</button></td>
        </tr>
    </tbody>
</table>
</div>