<h1>Images</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <fieldset>
        <label>Description</label>
        <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required">
    </fieldset>

    <fieldset>
        <label>Target date</label>
        <input type="date" 
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
        (ngModelChange) = "todo.targetDate = $event"
         class="form-control" name="targetDate" required="required">
    </fieldset>

    <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>
